<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>ADMINホーム</title>
    <th:block th:insert="~{fragments/header :: head}"></th:block>
</head>

<body>
    <div th:replace="~{fragments/header :: header('管理者ページ')}"></div>

    <main>
        <h1>ようこそADMIN！</h1>

        <p>
            現在ログイン中のユーザー:
            <span sec:authentication="name">ユーザー名</span>
        </p>

        <form th:action="@{/logout}" method="post">
            <button type="submit">ログアウト</button>
        </form>
    </main>

    <div th:replace="~{fragments/header :: footer}"></div>
</body>

</html>