<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">

<head>
    <title>ADMINホーム</title>
    <th:block th:insert="~{fragments/header :: head}"></th:block>
</head>

<body>
    <div th:replace="~{fragments/header :: header('管理者ページ')}"></div>

    <div class="content-wrapper">
        <div th:replace="~{fragments/sidebar :: admin-sidebar}"></div>

        <main role="main">
            <h1>ようこそADMIN！</h1>
        </main>
    </div>

    <div th:replace="~{fragments/header :: footer}"></div>
</body>

</html>