<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <th:block th:fragment="head">
        <link rel="stylesheet" th:href="@{/css/header.css}">
    </th:block>

    <header th:fragment="header(pageTitle)">
        <h1 th:text="${pageTitle}">ページタイトル</h1>
        <div class="user-info">
            ログイン中: <span sec:authentication="name">ユーザー名</span>
        </div>
    </header>

    <footer th:fragment="footer">
        <p>&copy; 2025 Training SpringBoot Application. All rights reserved.</p>
    </footer>
</body>

</html>